
.row{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 3vh;
    border-radius: 11%;


}
.about-img{
    padding: 40px;
    width: 40vw;
    margin-left: 0px;
}
.imgg{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10%;
}
.about{
    display: flex;
    flex-direction: row;
}
.about-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.about-contant h1{
    color: gray;
    font-family: cursive;
    border-bottom: 2px solid rgb(115, 112, 112);
    text-align: center;
}
.about-contant p{
    text-align: justify;
    padding-top: 10px;
}