.project-container{
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
.project-card{
    width: 20vw;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
}
.projects-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: space-between

}
.btn{
    margin: 10px;
}
.card-notify-badge{
    position: absolute;
    background-color: #f29f67;
    top: -15px;
    left: -20px;
    height: 36px;
    width: 135px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: x-large;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.techstack-used{
    background-color: #b51dfb;
    color: rgb(255, 255, 255);
    width: 90px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    
    gap: 5px;
}
.teckstackss-usedd{
    gap: 5px;
    display: flex;
    margin: 10px;
}